body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    padding-left: 16px;
}
.dateRangeContainer{
    padding: 16px;
}
.searchButton{
    border: 2px solid black !important;
    color: black !important;
    margin: 6px 0px 0px 16px !important;
}
.like{
    color: black !important;
    border: solid 2px black !important;
    margin: 32px 0 24px 16px !important;
    width: 48px;
    height: 30px;
    padding: 8px !important;
}
.card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cardContent{
    padding: 16px;
    flex-grow: 2;
}
.copyright{
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0px 8px 0px;
}
.subtitle{
    margin-bottom: 10px;
}
.title{
    font-size: 16px;
    font-weight: 500;
}

.hyphen{
    margin: 0px 5px 0px 5px;
    font-weight: 900;
    font-size: 18px;
}
.data{
    font-weight: 400;
}
.likeLabel{
    font-size: 12px;
    font-weight: 700;
    text-transform: initial;
}
.progressLoading{
    position: absolute;
    top: 50%;
    right: 50%;
}